@import "tailwindcss";

body {
  @apply bg-white dark:bg-gray-900;
}

/* Add manual dark mode support */
html.dark {
  color-scheme: dark;
}

body {
  @apply bg-white text-black;
}

html.dark body {
  @apply bg-slate-900 text-white;
}


/* ********* Custom scrollbar ************ */
.scrollbar-custom {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #8caaa0 #f1f1f1; /* For Firefox */

  /* For Chrome, Edge, Safari */
}
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* ********* Hide scrollbar ************ */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */

  /* Chrome, Safari, Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}



/* Slick Arrow Button Styles */
.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Add background color */
  color: white; /* White arrow color */
  border: none; /* Remove border */
  padding: 10px;
  font-size: 1.5rem; /* Adjust size of the arrows */
  border-radius: 50%;
  z-index: 10;
}

.slick-prev {
  left: 10px; /* Left position */
}

.slick-next {
  right: 10px; /* Right position */
}
